#accordion-1{
    font-size: 1.5vw;
    margin-left: 20%;
    margin-right: 20%;
}

#accordion-1 > div{
    height: 35vh;
    background: #eeeeee no-repeat;
}

#button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

body{
    background: lightyellow;
}

#btnChange{
    font-size: 1.5vw;
    font-weight: bold;
    border-radius: 15px;
}