<!DOCTYPE html>
{% load static %}
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/myFunc.js' %}"></script>
    <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      
    <script>
         $(function() {
            $( "#accordion-1" ).accordion();
         });
    </script>

   </head>

   <body>
      <div id="button">
            <button type="button" class="btn btn-warning" id="btnChange" onclick="myFunc:changeTheme();">Change Theme</button>
      </div>
      <div id="accordion-1">
         <h1 id="header">Aktivitas</h1>
         <div>
            <p>Bermain</p>
            <p>Belajar</p>
            <p>Berolahraga</p>
         </div>
         <h1 id="header">Pengalaman</h1>
         <div class="row">
            <div class="col-sm">
               <p>Staf Adkesma BEM Fasilkom UI</p>
               <p>Staf PMB Fasilkom UI</p>
               <p>Staf Fundraising COMPFEST XI</p>
               <p>PJ Wisuda Genap Fasilkom UI</p>
            </div>
            <div class="col-sm">
               <p>Feb 19 - Des 19</p>
               <p>Jun 19 - Nov 19</p>
               <p>Feb 19 - Sep 19</p>
               <p>Mei 19 - Agu 19</p>
            </div>
         </div>
         <h1 id="header">Prestasi</h1>
         <div>
            <p>Belum pernah menang lomba, palingan lomba fashion show waktu SD atau semifinalis Electra 7</p>
         </div>
      </div>
   </body>
</html>